@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
  color: black;
  font-size: 250%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.row {
	margin-top: 50px;
	margin-bottom: 130px;
}

h1, h2, h3 {
	font-weight: 200;
}

h1 {
	font-size: 4em;
}

#header h3 {
	margin-top: 0px;
}

h2 {
	font-size: 2em;
	margin-bottom: 50px;
}

#about_me p {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 1.5em;
	line-height: 1.7em;
}

#connect h2{
	margin-bottom: 10px;
}

h3 {
	font-size: 1.5em;
	font-style: italic;
}

h4 {
	font-size: 1em;
}

.project_link {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.7em;
	/*font-style: italic;*/
}

.project_link a {
	color: #666;
}

@media screen and (max-width: 399px) {
	img {
		max-width: 100%;
	}
	.row {
		margin: 0px;
	}
	.project {
		margin-bottom: 100px;
	}
}

@media screen and (min-width: 400px) {
	img {
		max-height: 100%;
		display: block;
		margin: auto;
	}
}

@media screen and (max-width: 550px) {
	#about_me {
		padding: 0px 20px;
	}
}

@media screen and (min-width: 551px) {
	#about_me {
		padding: 0px 120px;
	}
}

.col-md-1{
	margin-top: 20px;
	margin-bottom: 20px;
}

.fa {
	color: black;
}

.award {
	text-align: center;
	/*font-style: italic;*/
	font-size: 0.9em;
	color: #7f7f7f;
}

#iib-awards-badge {
	position: absolute;
	top: 0px;
	right: -20px;
	z-index: 100;
	width: 30%;
}